body {
    background-image: url('../images/Microphone.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100%;
    margin: 0;
}


.jumbotron{
    background-color: white;
    width: 500px;
    height: auto;
    padding:100px;
    margin: 150px 0 100px 20px;
    opacity: 0.9;
}

.timeLeft{
    font-size: 25px;
    
}

.btn-primary{
    margin-top: 10px;
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    font-size: 25px;
    
}
.btn-primary:hover {
    background-color: blue;
}